<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataDirectory" value="../SharedData" />
    <add key="ReportsDirectory" value="../SharedData/Reports" />
    <add key="ImagesDirectory" value="../SharedData/Images" />
    <add key="LogsDirectory" value="../SharedData/Logs" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
